!!!
html(lang='en')
  head
    meta(charset='utf8')
    base(href='/')
    title jsGameLib
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/font-awesome.css')
    link(rel='stylesheet', href='/css/app.css')
  body(ng-app="gameApp")
    block body