h1 jsGameLib Game
#join
  h2 Join a Game
  p or start a new one
  div
    select(size="5")
    button#lobbyjoin Join Lobby
  div
    | New Lobby Name:  
    input#newlobbyname
    button#lobbysubmit Start a new Lobby
#lobby.hidden
  h2 You are in lobby: "
    span#lobbyname
    | "
  ul#lobbyplayers
#play.hidden
  canvas#canvas(width="1000", height="600")
script(src="/socket.io/socket.io.js")
script(src="/js/lib/jquery-min.js")
script(src="/js/lib/underscore-min.js")
script(src="/js/lib/backbone-min.js")
script(src="/js/main.js")
